<div class="col col s12 m6 l3">
  <article class="card-panel hoverable">
<h1>Song Title:<%= link_to song.title, song%></h1>
<p>Song release date:<%= song.release_date %></p>
<p>Song Album:<%= song.album %></p>
<p>Song Artist ID ??<%= song.artist_id %></p>
  </article>
</div>
